META-INF/persistence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://jakarta.ee/xml/ns/persistence" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="persistence" type="per:persistenceType" xmlns:per="https://jakarta.ee/xml/ns/persistence"/>
  <xs:complexType name="persistence-unitType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="persistenceType">
    <xs:sequence>
      <xs:element type="per:persistence-unitType" name="persistence-unit" xmlns:per="https://jakarta.ee/xml/ns/persistence"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="version"/>
  </xs:complexType>
</xs:schema>